<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Part Tracker</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="partsview">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> All Parts
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projectsview">
                <span class="oi oi-tablet" aria-hidden="true"></span> Projects
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stockview">
                <span class="oi oi-box" aria-hidden="true"></span> In-Stock
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
